/* Style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0000ff, #000000); /* Hitam ke Biru */
    color: white;
}





header {
  background: rgb(13, 18, 59);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 20px;
  color: #0080ff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #0080ff;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

section {
  background: #fff;
  margin: 20px 0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0077ff;
}

/* Home */
.profile {
    text-align: center;
    margin-top: 80px; /* supaya agak ke bawah dari navbar */
}

.profile h1 {
    font-size: 32px;
    color: white;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 26px;
    color: #00aaff;
    margin-bottom: 5px;
}

.profile p {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 20px;
}

.profile img {
    width: 250px;  /* perbesar foto */
    height: 250px;
    border-radius: 50%;
    border: 4px solid #00aaff;
    object-fit: cover;
}


/* About */
.about p {
  text-align: justify;
  margin-top: 15px;
}

/* Certificate */
.certificates img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  transition: transform 0.3s;
}

.certificates img:hover {
  transform: scale(1.05);
}

/* Contact */
.contact {
  text-align: center;
}

.contact a {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  color: #0077ff;
  text-decoration: none;
  transition: 0.3s;
}

.contact a:hover {
  color: #ffffff;
}

/* Responsif */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }
  nav ul li {
    margin: 10px 0;
  }
}
